language: ruby
branches:
  only:
  - master

before_install:
    - sudo apt-get -qq update
    - sudo apt-get -y install texlive-latex-base texlive-base texlive-lang-italian latexmk ruby-dev ruby
    - sudo gem install kramdown

script:
- find . -type f -iname "*.tex" -exec ./do compile {} \;
- find . -type f -iname "*.pdf" -exec ./do checkout {} \;
- find . -type f -iname "*.md" -exec ./do checkout {} \;
- cp indexing ../
- cd ../ && ./indexing compiled-pdfs

deploy:
  skip_cleanup: true
  provider: surge
  project: ../compiled-pdfs/
  domain: prova-di-travis.surge.sh
